body{
  background-color: black;
  color: white;
  font-family: Arial;
}

.title{
  font-size: 30px;
  font-weight: bold;
}

.button-rock{
  background-color:  black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  border-radius: 60px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-right: 15px;
}

.button-paper{
  background-color:  black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  border-radius: 60px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.button-scissors{
  background-color:  black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  border-radius: 60px;
  cursor: pointer;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.move-icon{
  height: 50px;
}

.move-button{
  background-color: transparent;
  border: 2px solid yellow;
  border-radius: 60px;
}


.button-reset{
  border: none;
  background-color: gray;
  color:  black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.button-save{
  border: none;
  background-color: gray;
  color:  black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 15px;
}


.button-quit{
  border: none;
  background-color: gray;
  color:  black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 15px;
}
.is-button-quit{
  background-color: green;
  color: black;
}

.display-score{
  font-weight: bold;
  background-color: rgb(119, 127, 79);
  color: purple;
  max-width: 230px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.result{
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

.moves{
  font-size: 20px;
  font-weight: bold;
}

.score{
  font-size: 20px;
  color: yellow;
  font-weight: bold;
}

.menu {
  list-style: none;
  font-size: 15px;
  color: red;
  background-color: grey;
  padding: 0.2em 0.5em;
  margin-left: 375px;
  border: 1px #363a43;
  box-shadow: 0 0.5em 1em rgba(62, 55, 55, 0.2);
  border-radius: 0.5em;
  position: absolute;
  width: 30px;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;

}

.menu li {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  color: black;
  padding: 0/7em 0/5em;
  margin: 0/3em 0;
  border-radius: 0,5em;
  cursor: pointer;
  position: relative;
}


.menu li:hover {
  background: #2a2d35;

}

.menu-open {
display: block;
opacity: 1;

}

.js-current-bet{
  color: yellow;
  background-color: black;
  margin-left: 300px;
  font-size: 20px;
  font-weight: bold;
}

.js-bet-amount{
  color: black;
  background-color: grey;
  font-weight: bold;
  font-size: 17px;
}

.active {
  background: #23242a;
}

.dropdown * {
  box-sizing: border-box;
}

.select{
  background: #2a2ff3b;
  color: #fff;
  text-align: center;
  width: 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px #2a2f3b solid;
  margin-left: 300px;
  border-radius: 0.5em;
  padding: 1em;
  cursor: pointer;
  transition: background 0.3s;
}

.selected{

  width: 90px;
}

.select-clicked{
  border: 2px #26489a solid;
  box-shadow: 0 0 0.8em #26489a;
}

.select:hover{
  background: #323741;
}

.caret{
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.3s;
}

.caret-rotate{
  transform: rotate(180deg);

}

.bottom-make-space{
  margin-top: 75px;
}

